<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <title><%= titulo %></title>
    <style>
        .buton {
            display: flex;
            justify-content: center;
            align-items: center;



        }

        table {
            background-color: rgba(255, 255, 255, 0.774);
            margin-top: 10px;
        }

        body {
            background-image: url('/images/lista.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            padding-bottom: 10px;
        }

        thead {
            background-color: rgba(17, 170, 231, 0.692);
        }

        tbody {
            overflow-y: scroll;
        }

        td {
            font-size: 20px;

        }

        div.form-row label {
            margin-top: 10px;
            border-radius: 5px;
            color: white;
            text-shadow: 1px 0px 8px black;
            background-color: rgba(17, 170, 231, 0.692);


        }

        input {
            margin-bottom: 20px;
        }

        table td,
        table th {
            padding: -0.25rem;
            vertical-align: inherit;
            border-top: 1px solid #dee2e6;
            font-size: 14px;
        }

        ul {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: start;
            padding-inline-start: 0px
        }

        ul li {
            margin-right: 5px;
        }


        a.btn {
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            border-radius: 100px;
            width: 30px;
            height: 30px;
            font-size: 15px;
            box-shadow: 0px 1px 7px black;

        }


        button.btn.btn-danger {
            display: flex;
            border-radius: 20px;
            border-radius: 40px;
            width: 30px;
            height: 30px;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 1px 7px black
        }

        button.btn.btn-danger span {
            position: relative;
            bottom: 3px;
            left: 1px;
        }

        a.btn#inserir {
            margin-bottom: 20px;
            position: fixed;
            bottom: 1px;
            width: 50px;
            height: 50px;
            font-size: 30px;
            /* right: 154px;
    bottom: 17px; */
        }

        h1 {
            background-color: rgba(17, 170, 231, 0.692);
            display: inline-block;
            border-top: 2px solid rgba(17, 170, 231, 0.692);
            color: white;
            text-shadow: 1px 0px 8px black;
            margin: 0px auto;
            width: 100%;
            text-align: center;
            padding: 5px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        .container {
            display: flex;
            justify-content: center;
            margin-top: 90px;

            width: 90%;
            border-radius: 20px;




        }

        #corpo-form {
            display: flex;
            width: 100%;
            margin: 0px auto;
            margin: 10px;
            padding: 10px;
            justify-content: center;


        }

        form {
            border-bottom: 2px solid rgba(17, 170, 231, 0.692);
            border-right: 2px solid rgba(17, 170, 231, 0.692);
            border-left: 2px solid rgba(17, 170, 231, 0.692);
            background-color: rgba(0, 0, 0, 0.527);
            box-shadow: 0px 0px 9px black;
            border-radius: 20px;


        }

        .form-row {
            margin: 10px;
        }

        a {
            display: inline-block;

        }

        #submit-panel {

            width: 100%;
            /* display: inline-flex;
            justify-content: center;
           align-items: center; */

        }

        #submit-panel a {
            color: rgba(255, 255, 255, 0.897);

            display: inline-block;
            width: 50%;
            text-align: right;

        }
    </style>

</head>

<body>
    <div class="container">
        <div id="corpo-form">
            <form class="needs-validation" method="POST" action="login" novalidate>
                <h1><%= titulo %> </h1>
                <div class="form-row">
                    <div class="col-md-12 mb-12">
                        <label for="validationCustomUsername">Email</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend">@</span>
                            </div>
                            <input type="email" class="form-control" name="email" id="validationCustomUsername"
                                placeholder="Email" aria-describedby="inputGroupPrepend" required>
                            <div class="invalid-feedback">
                                Esqueceu o email.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12 mb-12">
                        <label for="validationCustom03">Senha</label>

                        <input type="password" class="form-control" name="senha" id="validationCustom03"
                            placeholder="Senha" required>
                        <div class="invalid-feedback">
                            Esqueceu a senha
                        </div>
                    </div>
                    <div id="submit-panel">
                        <button class="btn btn-primary" type="submit">Entrar</button>
                        <a href="cadastrar">Já tem Cadastro?</a></div>
                </div>
            </form>
        </div>
        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function () {
                'use strict';
                window.addEventListener('load', function () {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();
        </script>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
</body>

</html>